<center><img src="http://i.imgur.com/sSaOozN.png" width="500"></center>

## Course: Computational Thinking for Governance Analytics

### Prof. José Manuel Magallanes, PhD 
* Visiting Professor of Computational Policy at Evans School of Public Policy and Governance, and eScience Institute Senior Data Science Fellow, University of Washington.
* Professor of Government and Political Methodology, Pontificia Universidad Católica del Perú. 

_____

# Full example

Let's get some data first:

## 1. The CIA data:

In [1]:
import pandas as pd

link1="https://www.cia.gov/the-world-factbook/field/electricity-consumption/country-comparison"

cia=pd.read_html(link1)[0]

The data looks clean:

In [2]:
cia.head()

   Rank        Country            kWh Date of Information
0     1          China  5564000000000           2016 est.
1     2  United States  3902000000000           2016 est.
2     3          India  1137000000000           2016 est.
3     4          Japan   943700000000           2016 est.
4     5         Russia   909600000000           2016 est.

In [3]:
cia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Rank                 217 non-null    int64
 1   Country              217 non-null    object
 2   kWh                  217 non-null    int64
 3   Date of Information  217 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.9+ KB

Let's just drop what is not needed:

In [4]:
cia.drop(columns=['Rank','Date of Information'], inplace=True)

## 2. The DEMOCRACY INDEX data:

In [12]:
import pandas as pd
link2= "https://en.wikipedia.org/wiki/Democracy_Index" 

# getting the data frame in one step:
demo=pd.read_html(link2,header=0,flavor='bs4',attrs={'class': 'wikitable sortable'})[0]

Let's see:

In [16]:
demo

,Country,Score,Electoral processand pluralism,Functio­ning ofgovern­ment,Politicalpartici­pation,Politicalculture,Civilliberties,Regimetype,Region[n 1]
0,Norway,9.87,10.00,9.64,10.00,10.00,9.71,Full democracy,Western Europe
1,Iceland,9.58,10.00,9.29,8.89,10.00,9.71,Full democracy,Western Europe
2,Sweden,9.39,9.58,9.64,8.33,10.00,9.41,Full democracy,Western Europe
3,New Zealand,9.26,10.00,9.29,8.89,8.13,10.00,Full democracy,Asia & Australasia
4,Finland,9.25,10.00,8.93,8.89,8.75,9.71,Full democracy,Western Europe
...,...,...,...,...,...,...,...,...,...
162,Chad,1.61,0.00,0.00,1.67,3.75,2.65,Authoritarian,Sub-Saharan Africa
163,Syria,1.43,0.00,0.00,2.78,4.38,0.00,Authoritarian,Middle East & North Africa
164,Central African Republic,1.32,1.25,0.00,1.11,1.88,2.35,Authoritarian,Sub-Saharan Africa
165,Democratic Republic of the Congo,1.13,0.00,0.00,1.67,3.13,0.88,Authoritarian,Sub-Saharan Africa
166,North Korea,1.08,0.00,2.50,1.67,1.25,0.00,Authoritarian,Asia & Australasia

### - Cleaning

In [14]:
demo.columns

Index(['Rank', 'Country', 'Score', 'Electoral processand pluralism',
       'Functio­ning ofgovern­ment', 'Politicalpartici­pation',
       'Politicalculture', 'Civilliberties', 'Regimetype', 'Region[n 1]',
       'Changes fromlast year'],
      dtype='object')

In [15]:
#bye row 167, and unneeded columns:
demo.drop(index=167,columns=['Rank','Changes fromlast year'], inplace=True)

In [17]:
#rename column 
demo.rename(columns={'Region[n 1]':'region'},inplace=True)
demo

,Country,Score,Electoral processand pluralism,Functio­ning ofgovern­ment,Politicalpartici­pation,Politicalculture,Civilliberties,Regimetype,region
0,Norway,9.87,10.00,9.64,10.00,10.00,9.71,Full democracy,Western Europe
1,Iceland,9.58,10.00,9.29,8.89,10.00,9.71,Full democracy,Western Europe
2,Sweden,9.39,9.58,9.64,8.33,10.00,9.41,Full democracy,Western Europe
3,New Zealand,9.26,10.00,9.29,8.89,8.13,10.00,Full democracy,Asia & Australasia
4,Finland,9.25,10.00,8.93,8.89,8.75,9.71,Full democracy,Western Europe
...,...,...,...,...,...,...,...,...,...
162,Chad,1.61,0.00,0.00,1.67,3.75,2.65,Authoritarian,Sub-Saharan Africa
163,Syria,1.43,0.00,0.00,2.78,4.38,0.00,Authoritarian,Middle East & North Africa
164,Central African Republic,1.32,1.25,0.00,1.11,1.88,2.35,Authoritarian,Sub-Saharan Africa
165,Democratic Republic of the Congo,1.13,0.00,0.00,1.67,3.13,0.88,Authoritarian,Sub-Saharan Africa
166,North Korea,1.08,0.00,2.50,1.67,1.25,0.00,Authoritarian,Asia & Australasia

In [20]:
demo.columns.to_list()

Index(['Country', 'Score', 'Electoral processand pluralism',
       'Functio­ning ofgovern­ment', 'Politicalpartici­pation',
       'Politicalculture', 'Civilliberties', 'Regimetype', 'region'],
      dtype='object')

In [22]:
demo.columns.str.replace('\W|\s+',"",regex=True)

Index(['Country', 'Score', 'Electoralprocessandpluralism',
       'Functioningofgovernment', 'Politicalparticipation', 'Politicalculture',
       'Civilliberties', 'Regimetype', 'region'],
      dtype='object')

In [23]:
# Simplifying column names to facilitate further work:
demo.columns=demo.columns.str.replace('\W|\s+',"",regex=True)
demo.columns

Index(['Country', 'Score', 'Electoralprocessandpluralism',
       'Functioningofgovernment', 'Politicalparticipation', 'Politicalculture',
       'Civilliberties', 'Regimetype', 'region'],
      dtype='object')

In [24]:
demo.columns[-2:]

Index(['Regimetype', 'region'], dtype='object')

In [25]:
# see if we have some strange value in the categorical columns:
[demo[col].value_counts() for col in demo.columns[-2:]]

[Authoritarian       54
 Flawed democracy    54
 Hybrid regime       37
 Full democracy      22
 Name: Regimetype, dtype: int64, Sub-Saharan Africa            44
 Asia & Australasia            28
 Eastern Europe                28
 Latin America                 24
 Western Europe                21
 Middle East & North Africa    20
 North America                  2
 Name: region, dtype: int64]

### - Formatting

In [35]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167 entries, 0 to 166
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       167 non-null    object
 1   Score                         167 non-null    float64
 2   Electoralprocessandpluralism  167 non-null    float64
 3   Functioningofgovernment       167 non-null    float64
 4   Politicalparticipation        167 non-null    float64
 5   Politicalculture              167 non-null    float64
 6   Civilliberties                167 non-null    float64
 7   Regimetype                    167 non-null    object
 8   region                        167 non-null    category
dtypes: category(1), float64(6), object(2)
memory usage: 12.3+ KB

In [30]:
demo.iloc[:,1:7].columns

Index(['Score', 'Electoralprocessandpluralism', 'Functioningofgovernment',
       'Politicalparticipation', 'Politicalculture', 'Civilliberties'],
      dtype='object')

In [32]:
# Formatting numeric columns
# save column names of the columns to change:
colsToChange=demo.iloc[:,1:7].columns
# make changes NOT using iloc:
demo[colsToChange]=demo[colsToChange].apply(pd.to_numeric)

In [34]:
# Formatting categorical columns
# NOMINAL
demo.region=pd.Categorical(demo.region)

In [36]:
# ORDINAL
#rewrite the levels in order:
correctLevels=['Authoritarian', 'Hybrid regime', 'Flawed democracy','Full democracy']
demo.Regimetype=pd.Categorical(demo.Regimetype,categories=correctLevels,ordered=True)

In [37]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167 entries, 0 to 166
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       167 non-null    object
 1   Score                         167 non-null    float64
 2   Electoralprocessandpluralism  167 non-null    float64
 3   Functioningofgovernment       167 non-null    float64
 4   Politicalparticipation        167 non-null    float64
 5   Politicalculture              167 non-null    float64
 6   Civilliberties                167 non-null    float64
 7   Regimetype                    167 non-null    category
 8   region                        167 non-null    category
dtypes: category(2), float64(6), object(1)
memory usage: 11.3+ KB

In [38]:
demo.region.cat.ordered

False

In [39]:
demo.Regimetype.cat.ordered

True

## 3. The HUMAN DEVELOPMENT INDEX data:

In [40]:
link3="https://github.com/EvansDataScience/data/raw/master/HDI2018.xlsx"

Collecting the data with the link from GitHub:

In [41]:
hdi=pd.read_excel(link3)

In [42]:
hdi

,Country,HDI,Life expectancy at birth (LE),Expected years schooling (EYS),Mean years schooling (MYS),Gross national income (GNI) PC
0,Norway,0.953688,82.271,18.06082,12.566818,68058.616130
1,Switzerland,0.945936,83.630,16.20882,13.380812,59374.734030
2,Ireland,0.942473,82.103,18.79326,12.526295,55659.679020
3,Germany,0.938785,81.180,17.09638,14.132150,46945.949900
4,"Hong Kong, China (SAR)",0.938809,84.687,16.51223,12.038130,60220.796760
...,...,...,...,...,...,...
190,Monaco,..,..,..,..,..
191,Nauru,..,..,11.25936,..,17312.587930
192,San Marino,..,..,15.11120,..,..
193,Somalia,..,57.068,..,..,..
194,Tuvalu,..,..,12.30895,..,5408.949247

### -  Cleaning

Simplify column names:

In [45]:
hdi.columns.str.extract("\(([\w]+)\)",expand=False).to_list()

[nan, nan, 'LE', 'EYS', 'MYS', 'GNI']

In [46]:
new=hdi.columns.str.extract("\(([\w]+)\)",expand=False).to_list()
dict(zip(hdi.columns[2:],new[2:]))

{'Life expectancy at birth (LE)': 'LE',
 'Expected years schooling (EYS)': 'EYS',
 'Mean years schooling (MYS)': 'MYS',
 'Gross national income (GNI) PC': 'GNI'}

In [47]:
changes=dict(zip(hdi.columns[2:],new[2:]))
hdi.rename(columns=changes,inplace=True)

In [57]:
hdi

,Country,HDI,LE,EYS,MYS,GNI
0,Norway,0.953688,82.271,18.06082,12.566818,68058.616130
1,Switzerland,0.945936,83.630,16.20882,13.380812,59374.734030
2,Ireland,0.942473,82.103,18.79326,12.526295,55659.679020
3,Germany,0.938785,81.180,17.09638,14.132150,46945.949900
4,"Hong Kong, China (SAR)",0.938809,84.687,16.51223,12.038130,60220.796760
...,...,...,...,...,...,...
190,Monaco,..,..,..,..,..
191,Nauru,..,..,11.25936,..,17312.587930
192,San Marino,..,..,15.11120,..,..
193,Somalia,..,57.068,..,..,..
194,Tuvalu,..,..,12.30895,..,5408.949247

### -  Formatting

Check the data types:

In [58]:
hdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  195 non-null    object
 1   HDI      195 non-null    object
 2   LE       195 non-null    object
 3   EYS      195 non-null    object
 4   MYS      195 non-null    object
 5   GNI      195 non-null    object
dtypes: object(6)
memory usage: 9.3+ KB

#### * Check the cell values

Above you see some characters that are not numbers, are they missing values?

In [59]:
hdi[hdi.iloc[:,1:].isnull().any(axis=1)] #ANY

Empty DataFrame
Columns: [Country, HDI, LE, EYS, MYS, GNI]
Index: []

There are symbols that represent missing values, but they are not recognized so. Let me turn those symbols to missing values.

In [61]:
hdi.iloc[:,1:].apply(pd.to_numeric,errors='coerce')

          HDI      LE       EYS        MYS           GNI
0    0.953688  82.271  18.06082  12.566818  68058.616130
1    0.945936  83.630  16.20882  13.380812  59374.734030
2    0.942473  82.103  18.79326  12.526295  55659.679020
3    0.938785  81.180  17.09638  14.132150  46945.949900
4    0.938809  84.687  16.51223  12.038130  60220.796760
..        ...     ...       ...        ...           ...
190       NaN     NaN       NaN        NaN           NaN
191       NaN     NaN  11.25936        NaN  17312.587930
192       NaN     NaN  15.11120        NaN           NaN
193       NaN  57.068       NaN        NaN           NaN
194       NaN     NaN  12.30895        NaN   5408.949247

[195 rows x 5 columns]

In [62]:
# first get column names
subColumns=hdi.iloc[:,1:].columns

#then apply:
hdi[subColumns]=hdi[subColumns].apply(pd.to_numeric,errors='coerce')

The result:

In [63]:
hdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  195 non-null    object
 1   HDI      189 non-null    float64
 2   LE       191 non-null    float64
 3   EYS      193 non-null    float64
 4   MYS      189 non-null    float64
 5   GNI      191 non-null    float64
dtypes: float64(5), object(1)
memory usage: 9.3+ KB

When you have numbers in your columns, you can request statistical summaries:

In [64]:
hdi.describe(include='all')

,Country,HDI,LE,EYS,MYS,GNI
count,195,189.000000,191.000000,193.000000,189.000000,191.000000
unique,195,NaN,NaN,NaN,NaN,NaN
top,Slovakia,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.713449,72.414157,13.211942,8.613036,18368.072291
std,NaN,0.150802,7.509645,2.935362,3.082290,19627.352750
min,NaN,0.376591,52.805000,5.000380,1.585574,659.732263
25%,NaN,0.595670,67.227500,11.304630,6.348000,4009.432932
50%,NaN,0.727787,73.752000,13.067556,9.017541,11610.908180
75%,NaN,0.830096,77.701500,15.230000,11.288111,26535.420700
max,NaN,0.953688,84.687000,22.103720,14.132150,110488.735800

You are not getting those because they lack format.

# INTEGRATING

Let's check the columns we have for the last three data frames:

In [65]:
cia.columns

Index(['Country', 'kWh'], dtype='object')

In [66]:
demo.columns

Index(['Country', 'Score', 'Electoralprocessandpluralism',
       'Functioningofgovernment', 'Politicalparticipation', 'Politicalculture',
       'Civilliberties', 'Regimetype', 'region'],
      dtype='object')

In [67]:
hdi.columns

Index(['Country', 'HDI', 'LE', 'EYS', 'MYS', 'GNI'], dtype='object')

Integrating data sets needs the following considerations:

* Merging is done on two data frames.
* You need a common column to be used in both data frames. The column names can be different.
* The merge can keep only the full coincidences, or also the values not matched, which will help you detect possible extra cleaning.
* Pandas differentiates calls the **left** from the **right** data frames. The left is the one that requires the merge.

Let's see the case where the common columns have the same name:

In [68]:
hdidemo=hdi.merge(demo)
hdidemo

,Country,HDI,LE,EYS,MYS,GNI,Score,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Regimetype,region
0,Norway,0.953688,82.271,18.060820,12.566818,68058.616130,9.87,10.00,9.64,10.00,10.00,9.71,Full democracy,Western Europe
1,Switzerland,0.945936,83.630,16.208820,13.380812,59374.734030,9.03,9.58,9.29,7.78,9.38,9.12,Full democracy,Western Europe
2,Ireland,0.942473,82.103,18.793260,12.526295,55659.679020,9.24,10.00,7.86,8.33,10.00,10.00,Full democracy,Western Europe
3,Germany,0.938785,81.180,17.096380,14.132150,46945.949900,8.68,9.58,8.57,8.33,7.50,9.41,Full democracy,Western Europe
4,Australia,0.938379,83.281,22.103720,12.683050,44097.019340,9.09,10.00,8.93,7.78,8.75,10.00,Full democracy,Asia & Australasia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Mali,0.427206,58.893,7.603360,2.352954,1965.385142,4.92,6.42,3.07,3.89,5.63,5.59,Hybrid regime,Sub-Saharan Africa
143,Burundi,0.422882,61.247,11.304630,3.124365,659.732263,2.15,0.00,0.07,3.33,5.00,2.35,Authoritarian,Sub-Saharan Africa
144,Chad,0.401176,53.977,7.465364,2.409497,1715.568235,1.61,0.00,0.00,1.67,3.75,2.65,Authoritarian,Sub-Saharan Africa
145,Central African Republic,0.380662,52.805,7.568360,4.282000,776.675996,1.32,1.25,0.00,1.11,1.88,2.35,Authoritarian,Sub-Saharan Africa
146,Niger,0.376591,62.024,6.471450,2.029049,912.041898,3.29,2.92,1.14,3.33,4.38,4.71,Authoritarian,Sub-Saharan Africa

Now, let's merge this result with the other one whose common column has a different name:

In [69]:
hdidemocia=hdidemo.merge(cia)
hdidemocia

,Country,HDI,LE,EYS,MYS,GNI,Score,Electoralprocessandpluralism,Functioningofgovernment,Politicalparticipation,Politicalculture,Civilliberties,Regimetype,region,kWh
0,Norway,0.953688,82.271,18.060820,12.566818,68058.616130,9.87,10.00,9.64,10.00,10.00,9.71,Full democracy,Western Europe,122200000000
1,Switzerland,0.945936,83.630,16.208820,13.380812,59374.734030,9.03,9.58,9.29,7.78,9.38,9.12,Full democracy,Western Europe,58460000000
2,Ireland,0.942473,82.103,18.793260,12.526295,55659.679020,9.24,10.00,7.86,8.33,10.00,10.00,Full democracy,Western Europe,25680000000
3,Germany,0.938785,81.180,17.096380,14.132150,46945.949900,8.68,9.58,8.57,8.33,7.50,9.41,Full democracy,Western Europe,536500000000
4,Australia,0.938379,83.281,22.103720,12.683050,44097.019340,9.09,10.00,8.93,7.78,8.75,10.00,Full democracy,Asia & Australasia,229400000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,Mali,0.427206,58.893,7.603360,2.352954,1965.385142,4.92,6.42,3.07,3.89,5.63,5.59,Hybrid regime,Sub-Saharan Africa,2982000000
140,Burundi,0.422882,61.247,11.304630,3.124365,659.732263,2.15,0.00,0.07,3.33,5.00,2.35,Authoritarian,Sub-Saharan Africa,382700000
141,Chad,0.401176,53.977,7.465364,2.409497,1715.568235,1.61,0.00,0.00,1.67,3.75,2.65,Authoritarian,Sub-Saharan Africa,208600000
142,Central African Republic,0.380662,52.805,7.568360,4.282000,776.675996,1.32,1.25,0.00,1.11,1.88,2.35,Authoritarian,Sub-Saharan Africa,159400000
143,Niger,0.376591,62.024,6.471450,2.029049,912.041898,3.29,2.92,1.14,3.33,4.38,4.71,Authoritarian,Sub-Saharan Africa,1065000000

In [70]:
hdidemocia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 0 to 143
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       144 non-null    object
 1   HDI                           144 non-null    float64
 2   LE                            144 non-null    float64
 3   EYS                           144 non-null    float64
 4   MYS                           144 non-null    float64
 5   GNI                           144 non-null    float64
 6   Score                         144 non-null    float64
 7   Electoralprocessandpluralism  144 non-null    float64
 8   Functioningofgovernment       144 non-null    float64
 9   Politicalparticipation        144 non-null    float64
 10  Politicalculture              144 non-null    float64
 11  Civilliberties                144 non-null    float64
 12  Regimetype                    144 non-null    category
 13  region                        144 non-null    category
 14  kWh                           144 non-null    int64
dtypes: category(2), float64(11), int64(1), object(1)
memory usage: 16.6+ KB

____
____


### <font color="red">Saving File to Disk</font>

#### For future use in Python:

In [ ]:
hdidemocia.to_pickle("hdidemocia.pkl")
# you will need: DF=pd.read_pickle("hdidemocia.pkl")
# or:
# from urllib.request import urlopen
# DF=pd.read_pickle(urlopen("https://..../hdidemocia.pkl"),compression=None)

#### For future  use in R:

In [71]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(hdidemocia,file="hdidemocia.RDS")

#In R, you call it with: DF = readRDS("hdidemocia.RDS")
#or, if iyou read from cloud: DF = readRDS(url("https://..../hdidemocia.RDS")

/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/rpy2/robjects/vectors.py:980: UserWarning: R object inheriting from "POSIXct" but without attribute "tzone".
  warnings.warn('R object inheriting from "POSIXct" but without '
/Users/JoseManuel/anaconda3/envs/Evans_GovAnalytics/lib/python3.7/site-packages/rpy2/robjects/pandas2ri.py:62: UserWarning: Error while trying to convert the column "kWh". Fall back to string conversion. The error is: integer 122200000000 does not fit '32-bit int'
  % (name, str(e)))

AttributeError: 'int' object has no attribute 'encode'

In [72]:
hdidemocia.kWh=hdidemocia.kWh.astype('float')

In [73]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(hdidemocia,file="hdidemocia.RDS")

#In R, you call it with: DF = readRDS("hdidemocia.RDS")
#or, if iyou read from cloud: DF = readRDS(url("https://..../hdidemocia.RDS")

<rpy2.rinterface_lib.sexp.NULLType object at 0x7f86dc6c3280> [RTYPES.NILSXP]